<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Title</title>
</head>
<body>

<h1>User Info</h1>

<h2><a th:href="@{/add_new}">Add New</a></h2>

<table border="1">

    <tr>
        <td><p>Id</p></td>
        <td>Name</td>
        <td>Email</td>
        <td>Action</td>
    </tr>

    <tr th:each="user : ${users}">
        <td><p th:text="${user.id}"></p></td>
        <td><p th:text="${user.name}"></p></td>
        <td><p th:text="${user.email}"></p></td>
        <td><a th:href="@{'/upload/' + ${user.id} }">Update</a> | <a th:href="  '/delete/'+${user.id} ">Delete</a> </td>
    </tr>

</table>

</body>
</html>